/* For Tablets */
@media (max-width: 1000px) {
    .navbar-list li{
        display: none;
    }

    .burger-icon{
        display: block;
        width: 30px;
        height: auto;
    }

    .content-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .card{
        width: 60%;
        height: 300px;
        margin: 20px 0;
    }
    
}

/* For Smartphones */
@media (max-width: 670px) {
    .section-1{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .image-container{
        width: 60%;
    }

    .tittle-container{
        padding: 50px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill-container{
        display: flex;
        justify-content: center;
    }

    .row-skill{
        display: flex;
        flex-direction: column;
    }

    .section-git{
        flex-direction: column;
        padding: 10px;
    }

}